<div class="architecture-pattern-dialog">
    <div class="dialog-header">
        <div class="header-icon">
            <mat-icon>{{ data.icon }}</mat-icon>
        </div>
        <h2 mat-dialog-title>{{ data.detailTitle || data.title | translate }}</h2>
        <button mat-icon-button mat-dialog-close class="close-button">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content>
        @if (data.explanation) {
        <section class="explanation-section">
            <p class="explanation-text">{{ data.explanation | translate }}</p>
        </section>
        }

        @if (data.codeExample) {
        <section class="code-section">
            <h3>{{ 'angularSummary.codeExample' | translate }}</h3>
            <pre><code>{{ data.codeExample }}</code></pre>
        </section>
        }

        @if (data.implementation && data.implementation.length > 0) {
        <section class="implementation-section">
            <h3>{{ 'angular.common.implementation' | translate }}</h3>
            <ul class="implementation-list">
                @for (item of data.implementation; track item) {
                <li class="implementation-item">
                    <mat-icon class="item-icon">arrow_right</mat-icon>
                    <span>{{ item | translate }}</span>
                </li>
                }
            </ul>
        </section>
        }

        @if (data.benefits && data.benefits.length > 0) {
        <section class="benefits-section">
            <h3>{{ 'angular.common.benefits' | translate }}</h3>
            <ul class="benefits-list">
                @for (benefit of data.benefits; track benefit) {
                <li class="benefit-item">
                    <mat-icon class="item-icon">check_circle</mat-icon>
                    <span>{{ benefit | translate }}</span>
                </li>
                }
            </ul>
        </section>
        }

        @if (data.useCases && data.useCases.length > 0) {
        <section class="use-cases-section">
            <h3>{{ 'angular.common.useCases' | translate }}</h3>
            <ul class="use-cases-list">
                @for (useCase of data.useCases; track useCase) {
                <li class="use-case-item">
                    <mat-icon class="item-icon">arrow_right</mat-icon>
                    <span>{{ useCase | translate }}</span>
                </li>
                }
            </ul>
        </section>
        }

        @if (data.challenges && data.challenges.length > 0) {
        <section class="challenges-section">
            <h3>{{ 'angular.common.challenges' | translate }}</h3>
            <ul class="challenges-list">
                @for (challenge of data.challenges; track challenge) {
                <li class="challenge-item">
                    <mat-icon class="item-icon">warning</mat-icon>
                    <span>{{ challenge | translate }}</span>
                </li>
                }
            </ul>
        </section>
        }
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" (click)="close()">
            {{ 'common.close' | translate }}
        </button>
    </mat-dialog-actions>
</div>